/* CSS declarations go here */
footer {
    background: #333;
    color: #fff;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

.featured {
    margin-right: 10px;
}

.full {
    width: 100%;
}

.product-row {
    border-bottom: #ccc 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product-row:last-child {
    border-bottom: none;
}

.star {
    margin-bottom: 5px;
    width: 120px;
}

.line {
    border-top: 1px solid #ccc;
}

.review-row {
    border-bottom: #ccc 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.review-row:last-child {
    border-bottom: none;
}
