<template name="change_password">
    <div class="container pt">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="change-password">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submit">Save Password</button>
                </form>
            </div>
        </div>
    </div>
</template>