<template name="add_project">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Create Project</h2>
                <form class="add_project_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Project Name">
                    </div>
                    <div class="form-group">
                        <label>Project Date</label>
                        <div class="input-group datetimepicker">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="set-due-date form-control" id="projectDate" name="projectDate" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Client</label>
                        <input type="text" class="form-control" id="client" name="client" placeholder="Client Name">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" id="type" name="type" placeholder="Project Type">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Project Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Project Image</label>
                        <input type="file" id="projectImage" name="projectImage">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{{pathFor 'list_projects'}}" class="btn btn-default">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</template>