<template name="navbar">
  <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{#if isStaff}}{{pathFor 'staff'}}{{else}}{{pathFor 'mytickets'}}{{/if}}">HelpTickets</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {{#if currentUser}}
              {{#if isStaff}}
                <li><a href="{{pathFor 'staff'}}">Tickets</a></li>
                <li class="dropdown">
                    <a href="/staff/departments" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/staff/departments">Manage</a></li>
                        <li><a href="/staff/departments/add">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/staff/users" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/staff/users">Manage</a></li>
                    </ul>
                </li>
              {{else}}
                <li><a href="{{pathFor 'mytickets'}}">Home</a></li>
                <li><a href="#" data-toggle="modal" data-target="#openTicketModal">Open Ticket</a></li>
              {{/if}}
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  </nav>
</template>