<template name="navbar">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/dashboard">Dashboard</a></li>
            <li class="logout-btn" role="presentation"><a href="#">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">AuthApp</h3>
    </div>
</template>