<template name="stafftickets">
    <div class="panel panel-primary ticket-table">
        <div class="panel-heading">
            <h3 class="panel-title">Manage Tickets</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="120">#</th>
                    <th>Subject</th>
                    <th>Date Opened</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tickets}}
                <tr>
                    <td>{{_id}}</td>
                    <td><a href="/ticket/{{_id}}">{{subject}}</a></td>
                    <td>{{formatDate createdAt}}</td>
                    <td>{{capitalFirst status}}</td>
                    <td>
                        {{#if isResolved status}}
                            <button href="#" class="btn btn-danger close-ticket" disabled>Close</button>
                        {{else}}
                            <a href="#" class="btn btn-danger close-ticket">Close</a>
                        {{/if}}
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="no-tickets">There are no open tickets.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>