<template name="contact">
	<!-- +++++ Contact Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>CONTACT ME</h3>
				<hr>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
				<p>To contact me, please use <a href="mailto:bj.peter.delacruz@gmail.com">bj.peter.delacruz@gmail.com</a>.</p>
			</div>
		</div>
	</div><!-- /container -->
</template>