<template name="mytickets">
    {{#if currentUser}}
        <div class="panel panel-primary ticket-table">
            <div class="panel-heading">
                <h3 class="panel-title">Open Tickets</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="120">#</th>
                        <th>Subject</th>
                        <th>Date Opened</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tickets}}
                    <tr>
                        <td>{{_id}}</td>
                        <td><a href="/ticket/{{_id}}">{{subject}}</a></td>
                        <td>{{formatDate createdAt}}</td>
                        <td>{{capitalFirst status}}</td>
                        <td><a href="#" class="btn btn-danger close-ticket">Close</a></td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5" class="no-tickets">You have no open tickets.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <h3>Welcome to Customer Support</h3>
        <p>Please login to view your tickets.</p>
    {{/if}}

    <div class="modal fade" id="openTicketModal" tabindex="-1" role="dialog" aria-labelledby="openTicketModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="openTicketModalLabel">Open Ticket</h4>
          </div>
          <div class="modal-body">
              <form class="open-ticket-form">
                  <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{userName}}">
                  </div>
                  <div class="form-group">
                      <label>E-mail Address</label>
                      <input type="text" class="form-control" id="email" name="email" placeholder="E-mail Address" value="{{userEmail}}">
                  </div>
                  <div class="form-group">
                      <label>Subject</label>
                      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                  </div>
                  <div class="form-group">
                      <label>Department</label>
                      <select id="department" class="form-control" name="department">
                          {{#each departments}}
                          <option value="{{department}}">{{department}}</option>
                          {{/each}}
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Priority</label>
                      <select id="priority" class="form-control" name="priority">
                          {{#each priorities}}
                          <option value="{{priority}}">{{capitalFirst priority}}</option>
                          {{/each}}
                      </select>
                  </div>
                  <div class="form-group">
                      <label>Message</label>
                      <textarea class="form-control" id="message" name="message"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit Ticket</button>
              </form>
          </div>
        </div>
      </div>
    </div>
</template>