<template name="product">
    <h3>{{name}}</h3>
    <div class="row">
        <div class="col-md-2">
            <img class="full" src="{{image}}">
        </div>
        <div class="col-md-10">
            <p><strong>Average Rating:</strong> <img src="/img/star{{getAverage reviews}}.png" class="star"> ({{getTotal reviews}})</p>
            <p>{{description}}</p>
        </div>
    </div>

    {{#if currentUser}}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="/new-review/{{_id}}" class="btn btn-primary">Leave a Review</a>
            </div>
        </div>
    </div>
    <hr class="line">
    {{/if}}
    <h4>Reviews &amp; Ratings</h4>
    {{#each reviews}}
    <div class="row review-row">
        <div class="col-md-9">
            <img src="/img/star{{rating}}.png" class="star"> {{body}}
        </div>
        <div class="col-md-3">
            {{formatDate review_date}}
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-md-12">
            <p>No reviews yet!</p>
        </div>
    </div>
    {{/each}}
</template>