<body>
    {{renderPage}}
</body>

<template name="layout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {{> loginButtons}}

                <h1>PhotoStory</h1>

                {{> flashMessages}}

                {{> yield}}
            </div>
        </div>
    </div>
</template>