<template name="work">
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		{{#each projects}}
		<div class="row mt centered">
			<div class="col-lg-4">
				<h2 class="no-padding">{{name}}</h2>
			</div>
			<div class="col-lg-4">
				<p>{{truncateText description 200}}</p>
				<p><a href="/project/{{_id}}">Continue Reading...</a></p>
			</div>
			<div class="col-lg-4">
				<a class="zoom green" href="/project/{{_id}}"><img class="img-responsive" src="{{projectImage}}" alt="" /></a>
			</div>
		</div><!-- /row -->
		{{else}}
			<p>There are no projects.</p>
		{{/each}}
	</div><!-- /container -->
</template>