  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>myTodos</title>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">myTodos</h3>
        {{> loginButtons}}
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
            {{> main}}
        </div>
      </div>

      <footer class="footer">
        <p>&copy; myTodos 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
  
  <template name="main">
      {{#if currentUser}}
      <form class="new-todo">
          <div class="form-group">
              <input type="text" name="text" class="form-control" placeholder="Type a todo.">
          </div>
      </form>
      {{/if}}
      <ul>
          {{#each todos}}
              <li class="{{#if checked}} checked {{/if}}">
                  {{#if currentUser}}
                  <button class="delete-todo">&times;</button>
                  <input type="checkbox" checked="{{checked}}" class="toggle-checked">
                  {{/if}}
                  <span class="text">
                      {{text}}
                  </span>
              </li>
          {{/each}}
      </ul>
  </template>