<template name="login">
    {{#if currentUser}}
        <div class="panel panel-default panel-login">
            <div class="panel-heading">
                <h3 class="panel-title">Welcome Back!</h3>
            </div>
            <div class="panel-body">
                {{userEmail}}
                <hr>
                <form class="logout-form">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>
        </div>
    {{else}}
        <div class="panel panel-default panel-login">
            <div class="panel-heading">
                <h3 class="panel-title">Customer Login</h3>
            </div>
            <div class="panel-body">
                <form class="login-form">
                    <div class="form-group">
                        <label for="email" class="sr-only">E-mail Address</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail Address" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button> <a href="#" class="register-link btn">Create an account</a>
                </form>
            </div>
        </div>
    
        <div class="panel panel-default panel-register">
            <div class="panel-heading">
                <h3 class="panel-title">Customer Registration</h3>
            </div>
            <div class="panel-body">
                <form class="register-form">
                    <div class="form-group">
                        <label for="first_name" class="sr-only">First Name</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="sr-only">Last Name</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">E-mail Address</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail Address" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="sr-only">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <button class="btn btn-primary" type="submit">Register</button> <a href="#" class="login-link btn">Log in</a>
                </form>
            </div>
        </div>
    {{/if}}
</template>