/* CSS declarations go here */
.panel-register {
    display: none
}

.table th {
    border: none !important;
}

.table tbody tr td {
    vertical-align: middle;
}

.no-tickets {
    font-style: italic;
    text-align: center;
}

.reply-customer, .reply-staff {
    padding: 10px;
    margin-bottom: 5px;
}

.reply-customer {
    background: #f4f4f4;
}

p.reply {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
