<template name="register">
    <form class="form-signup">
        <h2 class="form-signup-heading">Create an Account</h2>
        <label for="first_name" class="sr-only">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
        <label for="last_name" class="sr-only">Last Name</label>
        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required autofocus>
        <label for="email" class="sr-only">E-mail Address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail Address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control password" placeholder="Password" required>
        <label for="confirm_password" class="sr-only">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control confirm-password" placeholder="Confirm Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <br>
        <p>Have an account? <a href="/">Log in</a></p>
    </form>
</template>