<body>
    {{renderPage}}
</body>

<template name="layout">
    {{> navbar}}
    <div class="row faqs">
        <div class="large-12 columns">
            {{> yield}}
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $(document).foundation();
    });
    </script>
</template>