<body>
    {{renderPage}}
</body>

<template name="layout">
    {{> navbar}}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{> sidebar}}
            </div>
            <div class="col-md-9">
                {{> flashMessages}}
                {{> yield}}
            </div>
        </div>
    </div>
    {{> footer}}
</template>