<template name="addInfo">
    <div id="image-info-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Image Information</h4>
                </div>
                <div class="modal-body">
                    <form class="add-image-info">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" id="name" name="title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label>Story</label>
                            <textarea class="form-control" id="story" name="story" placeholder="Story" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Permissions</label>
                            <select class="form-control" id="permission" name="permission">
                                {{#each permissions}}
                                <option value="{{value}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>