<template name="addMeetup">
  <div class="template-addMeetup">
    <div class="page-header">
      <h1>Add Meetup</h1>
    </div>

    <form class="add-meetup-form">
        <div class="form-group">
            <label>Meetup Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label>Contact Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label>Topics</label>
            <input type="text" class="form-control" id="topics" name="topics" placeholder="Topics (e.g. Programming, design, gadgets...)" required>
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" id="type" name="type">
                {{#each types}}
                    <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Meetup Date</label>
            <div class="input-group datetimepicker">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input type="text" class="set-due-date form-control" id="meetupdate" name="meetupdate" required>
            </div>
        </div>
        <div class="form-group">
            <label>Street Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Street Address" required>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                <label>City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
            </div>
            <div class="col-xs-6 form-group">
                <label>State</label>
                <select class="states form-control" id="stateorprovince" name="stateorprovince">
                    <option value="--">--</option>
                    {{#each statesAndProvinces}}
                      <option value="{{hint}}">{{hint}} ({{abbrcode}})</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                <label>Zip Code</label>
                <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code" required>
            </div>
            <div class="col-xs-6 form-group">
                <label>Country</label>
                <select class="countries form-control" id="country" name="country">
                    {{#each countries}}
                        <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row pull-right">
            <button type="submit" class="btn btn-primary">Add Meetup</button>
            <a href="{{pathFor 'meetups'}}" class="btn btn-default">Cancel</a>
        </div>
    </form>

  </div>
</template>
