<template name="blog">
    {{#each posts}}
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{{getAdminImage}}" width="50px" height="50px"> <ba>{{getAdminName}}</ba></p>
					<p><bd>{{formatDate updatedAt}}</bd></p>
					<h4>{{title}}</h4>
					<p>{{truncateText body 100}}</p>
					<p><a href="/blog/post/{{_id}}">Continue Reading...</a></p>
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->
    {{else}}
        <p>There are no posts yet.</p>
    {{/each}}
</template>