<head>
    <meta charset="utf-8">
    <title>MicroPosts | Speak Your Mind</title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1">
</head>