<template name="navbar">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'posts'}}">MicroPosts</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{pathFor 'posts'}}">Home</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{#if currentUser}}
              <li><a href="profile">Edit Profile</a></li>
              <li><a href="sign-out">Sign Out</a></li>
              {{else}}
              <li><a href="sign-in">Sign In</a></li>
              <li><a href="sign-up">Register</a></li>
              {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>