<template name="add_product">
    <h3>Add Product</h3>
    <form class="add_product" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Product Name">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="category">
                <option value="0">--Select Category--</option>
                {{#each categories}}
                    <option value="{{slug}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Product Image</label>
            <input type="file" name="productImage" id="productImage">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="featured">Featured?</label>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success">
                    <input type="radio" name="is_featured" value="1"> Yes
                </label>
                <label class="btn btn-danger active">
                    <input type="radio" name="is_featured" value="0" checked> No
                </label>
            </div>
        </div>
        <div class="form-group pull-right">
            <input type="submit" name="submit" class="btn btn-primary" value="Add Product">
            <a href="{{pathFor 'home'}}" class="btn btn-default">Close</a>
        </div>
    </form>
</template>