<template name="list_projects">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <a href="/admin/projects/add" class="btn btn-primary btn-sm">Add Project</a>
                <br><br>
                <table class="table table-striped">
                    <tr class="spaceUnder">
                        <th>Project Name</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                    {{#each projects}}
                        <tr class="spaceUnder">
                            <td>{{name}}</td>
                            <td>{{formatDate projectDate}}</td>
                            <td>{{type}}</td>
                            <td><a href="/admin/projects/{{_id}}/edit" class="btn btn-default btn-small">Edit</a> <a href="" class="btn btn-danger btn-small delete_project">Delete</a></td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="4">There are no projects.</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</template>