.container {
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 40px;
}

.button-danger {
    color: #FFF;
    background-color: #F06033;
    border-color: #F06033;
}

.plan {
    text-align: center;
    background: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
}