<template name="project">
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{name}}</h3>
				<hr>
				<p>{{description}}</p>
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="{{projectImage}}" alt=""></p>
				<p><bt>Client: {{client}}</bt> - <bt>Type: {{type}}</bt> - <bt>Date: {{formatDate updatedAt}}</bt></p>
				<hr>
				<a href="{{pathFor 'work'}}">Go Back</a>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</template>