<template name="login">
    <form class="form-signin">
        <h2 class="form-signin-heading">AuthApp Login</h2>
        <label for="email" class="sr-only">E-mail Address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail Address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        <br>
        <p>No account? <a href="/register">Create an account</a></p>
    </form>
</template>