<template name="meetups">
  <div class="template-meetups">
    <div class="page-header">
      <h1>Meetups</h1>
    </div>

    <ul class="list-group">
      {{#each meetups}}
        <li class="list-group-item"><a class="modal-link" data-toggle="modal" data-target="#modal{{_id}}">{{title}}</a> <span class="label label-default">{{formatAddressNoZipCode city stateorprovince country}}</span></li>

        <!-- Modal -->
        <div class="modal fade" id="modal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{_id}}Label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal{{_id}}Label">{{title}}</h4>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Date &amp; Time</strong> <span class="pull-right">{{meetupdate}}</span></li>
                    <li class="list-group-item"><strong>Address</strong>
                        <div class="text-center">
                            {{address}}<br>
                            {{formatAddressZipCode city stateorprovince zipcode}}<br>
                            {{country}}
                        </div>
                    </li>
                    <li class="list-group-item"><strong>Topics</strong> <span class="pull-right">{{topics}}</span></li>
                    <li class="list-group-item"><strong>Meetup Type</strong> <span class="{{getType type}} pull-right">{{type}}</span></li>
                    <li class="list-group-item"><strong>Contact Email</strong> <a href="mailto:{{email}}" class="pull-right">{{email}}</a></li>
                </ul>
                <p class="well">Posted by <strong>{{username}}</strong></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      {{else}}
        <li class="list-group-item">There are no currently meetups.</li>
      {{/each}}
    </ul>

  </div>
</template>
