<template name="new_review">
    <h3>Add a Review for <strong>{{name}}</strong></h3>
    <form class="new-review">
        <div class="form-group">
            <label>Rating</label>
            <select class="form-control" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Review</label>
            <textarea class="form-control" name="body"></textarea>
        </div>
        <div class="form-group pull-right">
            <input type="submit" name="submit" class="btn btn-primary" value="Submit Review">
            <a href="{{pathFor 'home'}}" class="btn btn-default">Close</a>
        </div>
    </form>
</template>