<template name="blog_post">
	<!-- +++++ Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{{getAdminImage}}" width="50px" height="50px"> <ba>{{getAdminName}}</ba></p>
					<p><bd>{{formatDate updatedAt}}</bd></p>
					<h4>{{title}}</h4>
					<p>{{body}}</p>
					<hr>
					<p><a href="{{pathFor 'blog'}}">Go Back</a></p>
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
</template>