<template name="footer">
    <footer>
        <div class="container">
            <div class="col-md-12">
                <p>Copyright &copy; 2017 SpatIt!</p>
            </div>
        </div>
    </footer>
</template>