<template name="navbar">
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">SpatIt!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'products'}}">Products</a></li>
            {{#if currentUser}}
            <li><a href="{{pathFor 'add_product'}}">Add Product</a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
</template>