<template name="home">
    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                <img src="assets/img/user.png" alt="Stanley">
                <h1>Hi, I am Stanley!</h1>
                <p>Hello everybody. I'm Stanley, a free, handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute &amp; clean style.</p>
                <p>Please consider registering to <a href="http://eepurl.com/IcgkX">our newsletter</a> to be updated with our latest themes and freebies. Like always, you can use this theme in any project freely. Share it with your friends.</p>
                
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->

    {{> work}}
</template>