<body>
    {{renderPage}}
</body>

<template name="layout">
    <div class="container">
        <div class="row">
            <div class="three columns">
                {{> sidebar}}
            </div>
            <div class="nine columns">
                {{> yield}}
            </div>
        </div>
        {{> footer}}
    </div>
</template>