<template name="sidebar">
    {{> loginButtons}}
    <br><br>

    {{#if isInRole 'admin'}}
        <a class="button button{{#if currentRoute 'listsubscribers'}}-primary{{/if}}" href="/admin/subscribers">View Subscribers</a>
        <a class="button button{{#if currentRoute 'listplans'}}-primary{{/if}}" href="/admin/plans">View Plans</a>
        <a class="button button{{#if currentRoute 'addplan'}}-primary{{/if}}" href="/admin/plans/add">Add New Plan</a>
    {{/if}}

    {{#if currentUser}}
        <a class="button button{{#if currentRoute 'plans'}}-primary{{/if}}" href="/">View Plans</a>
        {{#if isRegularUser}}
            <a class="button button{{#if currentRoute 'myplans'}}-primary{{/if}}" href="/myplans">My Plans</a>
        {{/if}}
    {{/if}}
</template>