<template name="add_department">
    <h3>Add Department</h3>
    <form class="add-department-form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="department" name="department" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Head</label>
            <input type="text" class="form-control" id="head" name="head" placeholder="Head">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="{{pathFor 'staff'}}" class="btn btn-default">Cancel</a>
    </form>
</template>