<template name="dashboard">
  <div class="template-dashboard">
    <div class="page-header">
      <h1>My Meetups</h1>
    </div>

    <ul class="list-group">
      {{#each mymeetups}}
        <li class="list-group-item"><a class="modal-link" data-toggle="modal" data-target="#modal{{_id}}">{{title}}</a> <span class="label label-default">{{formatAddressNoZipCode city stateorprovince country}}</span> <a class="modal-link pull-right remove-meetup" id="{{_id}}"><i class="fa fa-remove"></i></a></li>

        <!-- Modal -->
        <div class="modal fade" id="modal{{_id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{_id}}Label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal{{_id}}Label">Edit Meetup</h4>
              </div>
              <div class="modal-body">
                <form class="edit-meetup-form">
                    <div class="form-group">
                        <label>Meetup Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{title}}" required>
                    </div>
                    <div class="form-group">
                        <label>Contact Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <label>Topics</label>
                        <input type="text" class="form-control" id="topics" name="topics" placeholder="Topics (e.g. Programming, design, gadgets...)" value="{{topics}}" required>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" id="type" name="type">
                            {{#each getTypes}}
                                <option value="{{name}}" {{isTypeSelected name}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Meetup Date</label>
                        <div class="input-group datetimepicker">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input type="text" class="set-due-date form-control" id="meetupdate" name="meetupdate" value="{{meetupdate}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Street Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Street Address" value="{{address}}" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{city}}" required>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>State</label>
                            <select class="states form-control" id="stateorprovince" name="stateorprovince">
                                <option value="--">--</option>
                                {{#each statesAndProvinces}}
                                  <option value="{{hint}}" {{isStateOrProvinceSelected hint}}>{{hint}} ({{abbrcode}})</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>Zip Code</label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code" value="{{zipcode}}" required>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>Country</label>
                            <select class="countries form-control" id="country" name="country">
                                {{#each countries}}
                                    <option value="{{name}}" {{isCountrySelected name}}>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="row btn-row">
                        <div class="form-group">
                            <input type="hidden" id="id" name="id" value="{{_id}}">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      {{else}}
        <li class="list-group-item">You have not added any meetups.</li>
      {{/each}}
    </ul>

  </div>
</template>
