<template name="profile">
<h3>Edit Profile</h3>
<form class="edit-profile" enctype="multi-part/form-data">
    Upload Profile Image: <input type="file" name="profileImage" id="profileImage">
    <br>
    <input type="submit" value="Update Info">
</form>
</template>