<template name="footer">
	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Contact</h4>
					<p>
						<a href="mailto:bj.peter.delacruz@gmail.com">E-mail</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>Links</h4>
					<p>
						<a href="http://www.bitbucket.org/bjpeterdelacruz">BitBucket</a><br/>
						<a href="http://www.tinyurl.com/linkedin-bpd">LinkedIn</a><br/>
						<a href="http://stackoverflow.com/users/3640269/bj-peter-delacruz">Stack Overflow</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About BJ Peter DeLaCruz</h4>
					<p>He is a software developer currently based in Honolulu, Hawaii.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
    </div>
</template>