<template name="navbar">
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">{{getSiteTitle}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{pathFor 'work'}}">Work</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'blog'}}">Blog</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            {{#if currentUser}}
                <li class="dropdown"><a class="dropdown-toggle" id="adminMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Admin <span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="adminMenu">
                    <li><a href="{{pathFor 'list_posts'}}">Posts</a></li>
                    <li><a href="{{pathFor 'list_projects'}}">Projects</a></li>
                    <li><a href="{{pathFor 'change_password'}}">Change Password</a></li>
                  </ul>
                </li>
                <li><a href="" class="logout-user">Logout</a></li>
            {{else}}
                <li><a href="{{pathFor 'login'}}">Login</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</template>