<template name="edit_project">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Edit Project: <small>{{title}}</small></h2>
                <form class="edit_project_form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Project Name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label>Project Date</label>
                        <div class="input-group datetimepicker">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="set-due-date form-control" id="projectDate" name="projectDate" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Client</label>
                        <input type="text" class="form-control" id="client" name="client" placeholder="Client Name" value="{{client}}">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" class="form-control" id="type" name="type" placeholder="Project Type" value="{{type}}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" id="description" name="description" placeholder="Project Description">{{description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Project Image</label>
                        <input type="file" id="projectImage" name="projectImage">
                        <input type="hidden" name="imageId" value="{{imageId}}">
                        <br>
                        <label class="currentImageLabel">Current Image</label>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <img class="edit-image" src="{{projectImage}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{{pathFor 'list_projects'}}" class="btn btn-default">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</template>