<template name="departments">
    <div class="panel panel-primary dept-table">
        <div class="panel-heading">
            <h3 class="panel-title">Manage Departments</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department Head</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each departments}}
                    <tr>
                        <td>{{department}}</td>
                        <td>{{head}}</td>
                        <td><a href="#" class="btn btn-danger btn-tiny delete-department">Delete</a></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="3">There are no departments in the database.</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>