<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1 class="text-center">Welcome to TechMeetups</h1>
    </div>
    <p class="text-center">
        To browse our directory of meetups or add one to it, please choose an option below.
    </p>
    <div class="text-center">
        <a href="/meetups/add" class="btn btn-primary">Add Meetup</a>
        <a href="/meetups" class="btn btn-default">Browse Meetups</a>
    </div>
  </div>
</template>
