<template name="plans">
    <h1>Plans</h1>
    <div class="row">
        {{#each plans}}
        <div class="four columns plan">
            <h3>{{plan_name}}</h3>
            <p>{{description}}</p>
            <div class="price">{{price}} for {{days}} days</div>
            <a class="button button-primary buy-plan" id="{{_id}}" rel="{{plan_name}}">Buy Now</a>
        </div>
        {{/each}}
    </div>
</template>