<template name="users">
    <div class="panel panel-primary dept-table">
        <div class="panel-heading">
            <h3 class="panel-title">Manage Users</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User</th>
                    <th>E-mail Address</th>
                    <th>Staff?</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <td>{{getName profile}}</td>
                        <td>{{getEmailAddress emails}}</td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                              {{#if isUserStaff profile}}
                              <input type="checkbox" class="is_staff" checked data-id="{{_id}}">
                              {{else}}
                              <input type="checkbox" class="is_staff" data-id="{{_id}}">
                              {{/if}}
                            </div>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="4">There are no users in the database.</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>