<template name="edit_post">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Edit Post: <small>{{title}}</small></h2>
                <form class="edit_post_form">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" value="{{title}}" required>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea type="text" class="form-control" id="body" name="body" placeholder="Post Body" required>{{body}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="{{pathFor 'list_posts'}}" class="btn btn-default">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</template>