<template name="image">
    <div class="row">
        <div class="col-md-12">
            {{#if isOwn _id}}
            <a class="remove-image"><i class="glyphicon glyphicon-remove"></i></a>
            {{/if}}
            <img src="{{url}}" class="img-responsive">
        </div>
    </div>
</template>