<template name="list_posts">
    <div class="container pt">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Blog Posts</h2>
                <a href="/admin/posts/add" class="btn btn-primary btn-sm">Create Post</a>
                <br><br>
                <table class="table table-striped">
                    <tr class="spaceUnder">
                        <th>Post Title</th>
                        <th>Last Updated on</th>
                        <th></th>
                    </tr>
                    {{#each posts}}
                        <tr class="spaceUnder">
                            <td>{{title}}</td>
                            <td>{{formatDate updatedAt}}</td>
                            <td><a href="/admin/posts/{{_id}}/edit" class="btn btn-default btn-small">Edit</a> <a href="" class="btn btn-danger btn-small delete_post">Delete</a></td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="3">There are no posts.</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</template>